@use "@fontsource/space-mono";
@use "@fontsource/work-sans";

html {
  font-size: 16px;
}

body {
  font-family: "Work Sans", sans-serif;
  font-weight: 400;
  line-height: 1.6;
  color: var(--text-secondary);
  min-height: 100vh;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Space Mono", monospace;
  font-weight: 700;
  line-height: 1.2;
  color: var(--text-primary);
}

h1 {
  font-size: 2.5rem;
}
h2 {
  font-size: 2rem;
}
h3 {
  font-size: 1.75rem;
}
h4 {
  font-size: 1.5rem;
}
h5 {
  font-size: 1.25rem;
}
h6 {
  font-size: 1rem;
}

b,
strong {
  font-weight: 700;
}

code {
  font-family: "Space Mono", monospace;
  background-color: rgba(var(--theme-current-rgb), 0.1);
  padding: 0.2em 0.4em;
  border-radius: 4px;
}

/* Base Link Styles */
a {
  color: var(--text-primary);
  text-decoration: none;
  transition: color 0.3s ease;
}

/* Base Container Styles */
.container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 1rem;
  padding-right: 1rem;
}

a.external {
  @apply text-black  relative inline-flex items-center;

  &::after {
    content: "";
    display: inline-block;
    width: 0.9em;
    height: 0.9em;
    margin-left: 0.2em;
    background: url('data:image/svg+xml,%3Csvg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="black" stroke-width="1" stroke-linecap="round" stroke-linejoin="round"%3E%3Cline x1="5" y1="19" x2="19" y2="5"%3E%3C/line%3E%3Cpolyline points="5 5 19 5 19 19"%3E%3C/polyline%3E%3C/svg%3E')
      no-repeat center;
    background-size: contain;
    transform: rotate(0);
  }

  /* Underline effect */
  &::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: -2px;
    height: 1px;
    width: 100%;
    background-color: #a7ff83;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 0.3s ease-in-out;
  }

  &:hover::before {
    transform: scaleX(1);
    transform-origin: left;
  }
}

@media (min-width: 640px) {
  .container {
    max-width: 640px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}

@media (min-width: 1024px) {
  .container {
    max-width: 1024px;
  }
}

/* Base Spacing */
.section {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

@media (min-width: 768px) {
  .section {
    padding-top: 4rem;
    padding-bottom: 4rem;
  }
}
