.button {
  @apply font-bold text-black px-6 py-3 inline-flex items-center justify-center rounded-md transition duration-300 ease-in-out;

  background-color: #d4ffc4;
  border: 2px solid transparent;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  cursor: pointer;

  /* Hover effect */
  &:hover {
    border-color: #a7ff83;
    color: #000;
  }

  /* Focus styles */
  &:focus {
    outline: 2px solid #a7ff83;
    outline-offset: 2px;
  }

  /* Active styles */
  &:active {
    background-color: #d6d6d6;
    transform: translateY(1px);
  }
}

button.with-arrow::after {
  content: " ↗";
  font-size: 0.9em;
  margin-left: 0.5em;
}
