@use "sass:meta";
@use "@fontsource/space-mono";
@use "@fontsource/work-sans";

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @include meta.load-css("base");
}

@layer components {
  // @include meta.load-css("components");
  // @include meta.load-css("navigation");
  @include meta.load-css("buttons");
  // @include meta.load-css("projects.scss");

  // @include meta.load-css("search");
}

// @layer utilities {
//   @include meta.load-css("utilities");
// }

.container-with-lines {
  width: 80vw;
  margin: 0 auto;
  position: relative;
  padding: 2rem 0;
  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: repeating-linear-gradient(
      -45deg,
      #a7ff83 0,
      #a7ff83 1px,
      transparent 1px,
      transparent 20px
    );
    z-index: -1;
    pointer-events: none;
  }
}

.white-container {
  background-color: #f9f9f9;
}
