---
import Layout from "../layouts/Layout.astro";
import { getCollection } from "astro:content";

const allPosts = await getCollection("posts");

const postsWithContent = await Promise.all(
  allPosts.map(async (post) => {
    const { Content } = await post.render();
    return {
      ...post,
      Content,
    };
  })
);
---

<Layout>
  <section class="">
    <h1
      class="py-8 block text-center mt-8 mb-8 white border-t border-b mx-0-auto"
    >
      feed
    </h1>
    {
      postsWithContent.map((post: any) => (
        <article class=" white  border-b border-t">
          {/* <h2>
            <a href={"/posts/" + post.slug}>{post.data.title}</a>
          </h2>
          {post.data.date && (
            <p>
              <small>{new Date(post.data.date).toLocaleDateString()}</small>
            </p>
          )} */}
          <div class="prose article py-8">
            <post.Content />
          </div>
        </article>
      ))
    }
  </section>
</Layout>
<style>
  .article {
    width: auto;
    margin: 0 auto;
  }
  .white {
    background-color: #ffffff;
  }
</style>
