---
import Layout from "../layouts/Layout.astro";
import Projects from "../components/Projects.astro";
import Welcome from "../components/Welcome.astro";
import { getCollection } from "astro:content";

const allProjects = await getCollection("projects");
---

<Layout>
  <section id="main" class="main-section">
    <div class="intro-container">
      <Welcome />
    </div>

    <div class="projects-container">
      <Projects projects={allProjects} />
    </div>
  </section>
</Layout>
<style>
  body {
    background-color: #f9f9f9;
    color: #444;
  }

  .projects-container {
    padding-top: 2rem;
  }
  .layout-wrapper {
    max-width: 1200px;
    margin: 0 auto;
    padding: 2rem;
  }

  .intro-container {
    background-color: #f9f9f9;
  }
</style>
