---
export interface Props {
  projectUrl: string;
  title: string;
}

const { projectUrl, title } = Astro.props;
---

<div class="threejs-viewer">
  <iframe
    src={projectUrl}
    frameborder="0"
    allowfullscreen
    loading="lazy"
    title={title}></iframe>
  <div class="project-controls">
    <a href={projectUrl} target="_blank" rel="noopener" class="view-source"
      >View on GitHub</a
    >
  </div>
</div>
