---
const today = new Date();
---

<footer class="footer footer-center block mb-5 pt-10">
  <div class="">
    &copy; {today.getFullYear()} Design + code by celina ©
    <p>UX ENGINEER</p>
  </div>
  <div class="">
    <a href="">(READ.CV)</a>
    <a href="">(EMAIL)</a>
    <a href="">(PLAYGROUND)</a>
    <a href="">(LINKEDIN)</a>

    Made with love and copious amounts of caffeine
  </div>
</footer>
<style></style>
