---
const today = new Date();
---

<footer class="py-4 text-center border footer">
  <div class="">
    &copy; {today.getFullYear()} Design + code by celina ©
    <p>UX ENGINEER</p>
  </div>
  <div class="">
    <p>
      <a
        href="https://read.cv"
        class="external"
        target="_blank"
        rel="noopener noreferrer"
      >
        READ.CV
      </a>
      <a
        href="https://twitter.com"
        class="external"
        target="_blank"
        rel="noopener noreferrer">EMAIL</a
      >
      <a
        href="https://instagram.com"
        class="external"
        target="_blank"
        rel="noopener noreferrer">LINKEDIN</a
      >.
    </p>

    Made with love and copious amounts of caffeine
  </div>
</footer>
<style>
  .footer {
    width: 80vw;
    margin: 0 auto;
  }
  .border {
    border-left: 1px solid #a7ff83;
    border-top: none;
  }
</style>
