<nav>
  <div class="white-container border-t border-b">
    <a href="/">/HOME/</a>
    <a href="/about/">/ABOUT/</a>
    <a href="/">/FEED/</a>
    <a href="/">/PLAYGROUND/</a>
  </div>
</nav>
<style>
  nav {
    margin-top: 20px;
  }
</style>
