---
import astroLogo from "../assets/astro.svg";
import background from "../assets/background.svg";
import Header from "./Header.astro";
---

<div id="container">
  <main>
    <section id="hero">
      <h1>HELLO VISITOR</h1>
      <p>
        I'm celina, resident jack of all trades, recent master of one (ms hcde).
        Product designer, frontend engineer, and 3d printing fanatic. I like
        building cool things, prototyping, and hardware.
      </p>
      <p>
        You can find me on
        <a
          href="https://read.cv"
          class="external"
          target="_blank"
          rel="noopener noreferrer"
        >
          READ.CV
        </a>
        <a
          href="https://twitter.com"
          class="external"
          target="_blank"
          rel="noopener noreferrer">TWITTER</a
        >, or
        <a
          href="https://instagram.com"
          class="external"
          target="_blank"
          rel="noopener noreferrer">INSTAGRAM</a
        >.
      </p>
      <a href="">MORE ABOUT ME</a>
    </section>
  </main>
</div>

<style></style>
